<!doctype html>
<html>
{{ >partials/head }}

<body>
    {{ >partials/header }}

    <section>
        <h2>Open Source Contributions</h2>
        <hr>
        {{#open-source-contributions}}
            {{>partials/card}}
        {{/open-source-contributions}}
        <section>
            <h2 class=>Projects</h2>
            <hr>
            {{#projects}}
                {{>partials/card}}
            {{/projects}}
        </section>

        <section>
            <h2>About</h2>
            <hr>
            {{#about}}
                {{>partials/card}}
            {{/about}}
        </section>
        {{>partials/footer}}
</body>

</html>