<!doctype html>
<html>
{{ >partials/head }}

<body>
    {{ >partials/header }}

    <section id="open_source_contributions_section">
        <h2>Open Source Contributions</h2>
        <hr>
        {{#open-source-contributions}}
        {{>partials/card}}
        {{/open-source-contributions}}
        <section id="projects-section">
            <h2 class=>Projects</h2>
            <hr>
            {{#projects}}
            {{>partials/card}}
            {{/projects}}
        </section>

        <section id="about-section">
            <h2>About</h2>
            <hr>
            {{#about}}
            {{>partials/card}}
            {{/about}}
        </section>
        {{>partials/footer}}
</body>

</html>