<!doctype html>
<html class="scroll-smooth">
{{ >partials/head }}

<body>
    <div id="page-content-wrapper">
        {{ >partials/header }}

        <section id="intro-section">
            <div>
                <h1>{{headline}}</h1>
                <p>
                    {{subheading}}
                </p>
                <div>
                    {{ #heading-links }}
                    {{ >partials/heading-link }}
                    {{/heading-links}}

                </div>
                <div>
        </section>

        <section id="projects-section" class="flex flex-col mx-2">
            <h2 class=>Projects</h2>
            <hr>
            <div id="projects-list-wrapper">

                {{#projects}}
                {{>partials/card}}
                {{/projects}}
            </div>

        </section>

        <section id="about-section" class="flex flex-col mx-2">
            <h2>About</h2>
            <hr>
            <div id="about-list-wrapper">
                {{#about}}
                {{>partials/card}}
                {{/about}}
            </div>
        </section>
    </div>
    {{>partials/footer}}
</body>

</html>