/* colors */

/* TODO: tertiary colors */
$color-foreground-primary: #f9f9f9;
$color-foreground-secondary: #f1f1f1;

$color-background-primary: #100f0f;
$color-background-secondary: #201E1E;
$color-background-tertiary: #2A2828;


/* TODO: - hover colors */
$color-accent-primary: #09D7A4;
$color-accent-secondary: #0AEBB3;

/* opinionated font sizes. i believe that headings should always be bigger than body text */
$font-size-base: 18px;
$font-viewport-scale-factor: 0.15vw;
/* scale all font sizes by 15 percent * of the viewport width */
$font-h1-size: calc(2.4 * #{$font-size-base} + #{$font-viewport-scale-factor});
$font-h2-size: calc(1.7 * #{$font-size-base} + #{$font-viewport-scale-factor});
$font-h3-size: calc(1.3 * #{$font-size-base} + #{$font-viewport-scale-factor});
$font-h4-size: calc(1.2 * #{$font-size-base} + #{$font-viewport-scale-factor});
$font-h5-size: calc(1.1 * #{$font-size-base} + #{$font-viewport-scale-factor});
$font-h6-size: calc(1.05 * #{$font-size-base} + #{$font-viewport-scale-factor});


/* layout */
$layout-max-width: 45rem;
$layout-padding: 1rem;
$layout-body-line-height: 1.35;

/* spacing */

$spacing-base: 1rem;
$spacing-xs: calc(0.125 * #{$spacing-base});
$spacing-sm: calc(0.25 * #{$spacing-base});
$spacing-md: calc(0.5 * #{$spacing-base});
$spacing-lg: calc(#{$spacing-base});

$svg-icon-size: calc(2 * #{$spacing-base});
/* large stops following this factor because the padding on top of headings is twice this variable. */

/* transitions and durations */
$transition-duration: 0.1s;