@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .svg-icon {
    filter: invert(99%) sepia(48%) saturate(174%) hue-rotate(195deg) brightness(113%) contrast(96%);
}

section {
    scroll-margin-top: 80px;
}

@media screen and (max-width: 640px) {
    section {
        scroll-margin-top: 100px;
    }
    
    
}