<header>
    <div> 
        <a href="#"><h1>f. keagan scott</h1></a>
        <nav>
            <a href="#projects-section">projects</a>
            <a href="#about-section">about</a>

        </nav>
    </div>
</header>