<header>
    <h1> {{ title }}</h1>
    <blockquote>
        {{subheading}}
    </blockquote>
    <section>
    {{ #heading-links }}
        {{ >partials/link }}
    {{/heading-links}}
    </section>
</header>